body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #830303;
    font-family: 'Chango', sans-serif;
    position: relative;
    overflow-x: hidden;
    overflow: hidden;
  }
  .coming-soon-regular {
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
  
  /* --- ESPACE AUTOMATIQUE POUR NE PAS QUE LE TEXTE MONTE DESSUS --- */
  .header-space {
    height: 80px; /* ajuste selon la hauteur réelle de ton PNG */
  }
  
  img#back{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
  }

  .login-container {
    margin-top: 150px;
    margin: 0 auto;
  }

  .login-container h1 {
    font-size: 50px;
    font-family: "coming-soon-regular", cursive;
  }

  .login-container p {
    font-size: 1.2rem;
    color: #DAA520;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 10px;
  }

  #username {
    margin: 0 auto;   
    padding: 12px 24px; 
  
    font-size: 1.2rem;
    color: #000;
    border-radius: 100px;
    border: 5px solid #000;
  
    background: #D9D9D9 20%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  }

  #réponse {
    margin: 0 auto;   
    padding: 12px 24px; 
  
    font-size: 1.2rem;
    color: #000;
    border-radius: 100px;
    border: 5px solid #000;
  
    background: #D9D9D9 20%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  }

  a{
    text-decoration: none;
  }
  
  /* Bouton */
  button {
    margin: auto;
    padding: 12px 24px;
    display: flex;
  
  
    background: linear-gradient(135deg, #900, #F900);
    color: #fff;
  
    border: 5px solid #000;
    border-radius: 100px;
  
    font-family: 'Chango', sans-serif;
    font-size: 1.3rem;
    color: #DAA520;
    font-weight: 700;
  
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    cursor: pointer;
  
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.35);
  }
  
  button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
  }

  #snow-container {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
  }

  button#réponse-btn{
    margin-top: 40px;
  }
  
  button#pass{
    margin-top: 20px;
  }
   button#username-btn{
    margin-top: 20px;
   }

  .snowflake {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 1.2em;
    animation: fall linear infinite;
    opacity: 0.8;
  }
  
  @keyframes fall {
    to {
      transform: translateY(110vh);
      opacity: 0.2;
    }
  }
  
  
  @media (max-width: 480px){
      img#back{
          margin-top: 20px;
          width: 100px;
      }
  }