body {
margin: 0;
font-family: 'Arial', sans-serif;
background: #7a0b0b;
color: white;
text-align: center;
}
.container {
padding: 1.5rem;
}
img .logo {
  width: 80%;
  max-width: 900px;
}
input {
padding: 1rem;
font-size: 1rem;
width: 90%;
max-width: 320px;
border-radius: 10px;
border: none;
}
button {
margin-top: 1.2rem;
padding: 0.9rem 1.5rem;
border: none;
border-radius: 15px;
background: #ffcc66;
font-size: 1rem;
font-weight: bold;
cursor: pointer;
width: 90%;
max-width: 320px;
}
/* --------- Mobile optimisé --------- */
@media (max-width: 480px) {
img .logo{
width: 90%;
max-width: 900px;
}
}

/* --------- Tablettes larges (769px à 1024px) --------- */
@media (min-width: 769px) and (max-width: 1024px) {
.container {
padding: 3rem;
}
input {
width: 90%;
font-size: 1.2rem;
}
button {
width: 60%;
font-size: 1.2rem;
}
img .logo {
width: 90%;
max-width: 900px;
}
}


/* --------- Desktop (1025px et +) --------- */
@media (min-width: 1025px) {
.container {
padding: 4rem;
}
input {
width: 40%;
font-size: 1.3rem;
}
button {
width: 40%;
font-size: 1.3rem;
}
img .logo {
width: 85%;
max-width: 240px;
}
}
