body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #830303;
  font-family: 'Chango', sans-serif;
  position: relative;
  overflow-x: hidden;
  overflow: hidden;
}


/* --- ESPACE AUTOMATIQUE POUR NE PAS QUE LE TEXTE MONTE DESSUS --- */
.header-space {
  height: 80px; /* ajuste selon la hauteur réelle de ton PNG */
}

/* --- BLOC DE LOGIN --- */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  margin-top: 1rem;
  padding: 2rem 1.5rem;

  width: 90%;
  max-width: 420px;

  text-align: center;
  gap: 1.5rem;
}

/* Texte */
.login-container p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #DAA520;
  margin-bottom: 0.5rem;
  text-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

/* Input */
#username {
  width: 100%;
  padding: 1rem 1.2rem;
  margin-left: 40px;

  font-size: 1.2rem;
  color: #000;
  border-radius: 100px;
  border: 5px solid #000;

  background: #D9D9D9 20%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

/* Bouton */
button {
  width: 100%;
  padding: 1rem 1.3rem;
  margin-left: 40px;

  background: linear-gradient(135deg, #900, #F900);
  color: #fff;

  border: 5px solid #000;
  border-radius: 100px;

  font-family: 'Chango', sans-serif;
  font-size: 1.3rem;
  color: #DAA520;
  font-weight: 700;

  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  cursor: pointer;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.35);
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}

/* --- RESPONSIVE --- */
@media (max-width: 480px) {
    img#logo {
        width: 400px;
    }
    
    button{
      width: 100%;
      margin-right: 40px;
    }
    
    #username{
      width: 100%;
      margin-right: 40px;
    }
}