body {
  margin: 0;
  padding: 0;
  background-color: #830303;
  font-family: 'Chango', sans-serif;
  position: relative;
  overflow-x: hidden;
}

.header-space{
  height: 40px;
}



.button-item {
text-align: center;
}

.button-item p {
  margin-bottom: 10px;
  font-size: 23px;
  color: #DAA520;
  text-align: center;
}

.button-item img {
  width: 300px;
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s;
}

@media (max-width: 480px){


    img#back{
        margin-top: 20px;
        width: 100px;
    }
}